#row1{
    height: 50px;
    padding: 0;
}
#row2{
    height: 40px;
    padding: 0;
    margin-top: 9px;
}
#row3{
    width: 712px;
    height: 100px;
    margin-left: 20px;
    margin-top: 9px;
    
}
#area{
    height: 450px;
    margin-top: 85px;
}
#row5{
    height: 80px;
    margin-top: 9px;


}
#sideder{
  width: 600px;
  height: 560px;
  margin-top: 9px;
}
#id1{

   margin-bottom: 600rem;
}